In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df1 = pd.read_csv("05-2019.csv")
df2 = pd.read_csv("06-2019.csv")
df3 = pd.read_csv("07-2019.csv")
df4 = pd.read_csv("08-2019.csv")
df5 = pd.read_csv("09-2019.csv")
df6 = pd.read_csv("10-2019.csv")
df7 = pd.read_csv("11-2019.csv")
df8 = pd.read_csv("12-2019.csv")

In [7]:
concat_df = pd.concat([df1, df2])
concat_df = pd.concat([concat_df, df3])
concat_df = pd.concat([concat_df, df4])
concat_df = pd.concat([concat_df, df5])
concat_df = pd.concat([concat_df, df6])
concat_df = pd.concat([concat_df, df7])
concat_df = pd.concat([concat_df, df8])
concat_df.head()

,carrier_code,flight_number,origin_airport,destination_airport,date,scheduled_elapsed_time,tail_number,departure_delay,arrival_delay,delay_carrier,...,HourlyPrecipitation_x,HourlyStationPressure_x,HourlyVisibility_x,HourlyWindSpeed_x,STATION_y,HourlyDryBulbTemperature_y,HourlyPrecipitation_y,HourlyStationPressure_y,HourlyVisibility_y,HourlyWindSpeed_y
0,AS,121,SEA,ANC,2019-05-01,215,N615AS,-8,-16,0,...,0.0,29.59,10.0,8.0,7.027253e+10,42.0,0.0,30.16,10.0,3.0
1,F9,402,LAX,DEN,2019-05-01,147,N701FR,17,-4,0,...,0.0,29.65,10.0,3.0,7.256500e+10,34.0,0.0,24.43,4.0,0.0
2,F9,662,SFO,DEN,2019-05-01,158,N346FR,44,27,0,...,0.0,29.98,10.0,6.0,7.256500e+10,34.0,0.0,24.43,4.0,0.0
3,F9,790,PDX,DEN,2019-05-01,156,N332FR,24,10,0,...,0.0,29.98,10.0,0.0,7.256500e+10,34.0,0.0,24.43,4.0,0.0
4,AS,108,ANC,SEA,2019-05-01,210,N548AS,-9,-31,0,...,0.0,30.18,10.0,5.0,7.279302e+10,44.0,0.0,29.58,10.0,7.0

In [8]:
concat_df.shape

(5512903, 35)

In [9]:
concat_df.dtypes

carrier_code                       object
flight_number                       int64
origin_airport                     object
destination_airport                object
date                               object
scheduled_elapsed_time              int64
tail_number                        object
departure_delay                     int64
arrival_delay                       int64
delay_carrier                       int64
delay_weather                       int64
delay_national_aviation_system      int64
delay_security                      int64
delay_late_aircarft_arrival         int64
cancelled_code                     object
year                                int64
month                               int64
day                                 int64
weekday                             int64
scheduled_departure_dt             object
scheduled_arrival_dt               object
actual_departure_dt                object
actual_arrival_dt                  object
STATION_x                         float64
HourlyDryBulbTemperature_x        float64
HourlyPrecipitation_x             float64
HourlyStationPressure_x           float64
HourlyVisibility_x                float64
HourlyWindSpeed_x                 float64
STATION_y                         float64
HourlyDryBulbTemperature_y        float64
HourlyPrecipitation_y             float64
HourlyStationPressure_y           float64
HourlyVisibility_y                float64
HourlyWindSpeed_y                 float64
dtype: object

array(['N', 'B', 'A', 'C', 'D'], dtype=object)

Unnecessary columns
* Carrier_code
* flight_number
* scheduled_elapsed_time
* tail_number
* weekday
* scheculed_departure_dt (redundant, using departure_delay)
* scheduled_arrival_dt (redundant, using arrival delay)
* actual_departure_dt (redundant, using departure_delay)
* actual_arrival_dt (redundant, using departure_delay)
* STATION_X
* STATION_Y